/* -------------------------- Global style */

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto&display=swap');


/*remove default margin, padding and border*/
*{
    margin:0;
    padding:0;
    border:0;
  }


body{
    background-color:#f4f4f4;
    font-family: Roboto;
}


/* -------------------------------- Header */
.heading{
    height: 20vh;
    width: 100%;
}

/*--------- logo styling*/
#logo-text{
    color:#eb5401;
    font-family: Merienda;
    font-size: 140%;
    height: 45%;
    text-transform: capitalize;
    text-align: center;
    width: 45%;
    padding-left: 5%;
    margin-top: 1%;
}

#logo-text-lower {
    color:#2e4443;
    font-size: 70%;
    text-transform: none;   
}

#contacts{ /*check this contact class and id?*/
    color:#eb5401;
    float: right;
    height: 50%;
    text-align: right;
    width: 45%;
    padding-right: 5%;
}

.text-center{
  text-align: center;/*review this - text alight should be given */
}


/* ------------------------------ Nav menu */
#menu{
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
    border-top:  1px solid #eb5401;
    border-bottom: 1px solid  #eb5401;
}

nav li{
    display: inline;
    line-height: 2.5em;
    letter-spacing: 0.1em;
    padding-right: 5em;
}

#menu a {
    color:#016a66;
    text-decoration: none;
    }

#menu a:hover {
    color: #eb5401;
    font-weight: bold;
      }


/* ----------------------Timetable section */
#timetable{
    background-color: #018c96;
}
.table-container{
    width: 50%;
    height: 400px;
    margin:auto;
    background-color:#efb52b;
    border-radius: 2%;
  }

table{
    border-collapse: collapse; /*used the following site to lean about border-collapse property: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l*/
    margin: 0 auto;
    table-layout: fixed; /*used the following site to lean about table-layoutcss property: https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout*/
    width: 90%;
  }

  th, td{
    color:#016a66;
    font-size: 100%;
    text-align: center;
    border: 1px solid #f6ebf9;
    padding: 10px;
    text-transform: uppercase;
  }
  
  th{
    text-transform: uppercase;
  }
  
  #timetable-caption{
    font-size: 200%;
    text-align: center;
    color: #eb5401;
    padding: 1em;
  }

  

/* ----------------------Enquiries section */

#enquiries{
  height: 400px;
  width: 80%;
  margin: auto;
  /*background-color: brown;*/
  padding: 3em;
  }

#contact-info-wrapper{
  height: 100%;
  width: 100%;
  /*background-color: darkslategray;*/
}

.contact{
  height: 400px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  color: #016a66;
  
}

h2{
  font-weight: bold;
  font-size: 200%;
  line-height: 1.5em;
}


/*#contact-info{
background-color:orangered; 
}*/

#contact-info p{
  color: #016a66;
  padding: 1em;
}


#form-container{
    background-color: #efb52b;
    border-radius: 2%
    
    /*margin:auto;
    height: 500px;
    width:30%;
    ;*/
}

input[type=text], input[type=email], textarea{
    width: 70%;
    display: block;
    padding: 10px;
    margin: 5% auto;
  }

  textarea{
    resize: none; /*leaned how disable the resizable property of a textarea from https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l*/
    font-family: Roboto;
  }

  input[type=submit] {
    padding: 10px;
    width: 25%;
    margin-left: 35%;
    background-color:#018c96;
    color: #f6ebf9;
    border: none;
    border-radius: 4px;
  }

  ::placeholder { /* used the following site to lean about how to change the color: https://www.w3schools.com/howto/howto_css_placeholder.asp*/   
    color: #eb5401;
  }
  



/* -------------------------------- Footer */
footer{
  background-color:#efb52b;
  height: 10vh;
}

footer p{
  color: #018c96;
  text-align: center;
}

.social-links{
  text-align: center;
}

.social-links li{
  display: inline;
}

.social-links i{
  color: #018c96;
  font-size: 200%;
  padding: 1%;
}