/* -------------------------- Global style */

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto&display=swap');


/*remove default margin, padding and border*/
*{
    margin:0;
    padding:0;
    border:0;
  }

body{
    background-color:#f4f4f4;
    color:#2e4443;
    font-family: Roboto;
}

/*learned about CSS Gradients from this tutorial https://www.w3schools.com/css/css3_gradients.asp, used to visually separate sections*/
.color-gradient{
  height: 20vh;
  background-image: linear-gradient(#f4f4f4,#7fc0be, #f4f4f4);
  background-repeat: no-repeat;
}

.text-center{
  text-align: center; 
}  

h2{
  color:#eb5401;
  font-family: Merienda;
  font-weight: bold;
  font-size: 200%;
  line-height: 1.5em;
}

h3{
  color: #016a66;
  line-height: 1em;
}


/* -------------------------------- Header */

.heading{
  height: 150px;
  width: 100%;
  background-image: linear-gradient( #016a66, #f4f4f4);
}

/*--------- logo styling*/
#logo-text{
  color:#eb5401;
  font-family: Merienda;
  font-size: 140%;
  height: 44%;
  text-transform: capitalize;
  text-align: center;
  width: 45%;
  padding-left: 5%;
  padding-top: 1%;
}

#logo-text-lower {
  color:#2e4443;
  font-size: 70%;
  text-transform: none;   
}

#contact-info-header{
  color:#eb5401;
  float: right;
  height: 44%;
  text-align: right;
  width: 45%;
  padding-right: 5%;
  padding-bottom: 1%;
}


/* ------------------------------ Nav menu */
#menu{
  border-top:  1px solid #eb5401;
  border-bottom: 1px solid  #eb5401;
  font-size: 100%;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  margin-top: 2%;    
}

nav li{
  display: inline;
  line-height: 2.5em;
  letter-spacing: 0.1em;
  padding-right: 5em;
}

#menu a {
  color:#016a66;
  font-weight: bold;
  text-decoration: none;
}

#menu a:hover {
  color: #eb5401;
}


/* -------------------------- Home section */

#home{
  height: 500px;
  width: 80%;
  margin: auto;
  padding: 2%;
}

#welcome{
  height: 20%;
  color: #2e4443;
  padding: 1em;
}

#reasons{
  height: 70%;
  width: 60%;
  margin-left: 20%;
}

#reasons h3{
  color: #eb5401;
  padding: 1em;
  text-transform: uppercase;
}

p{
  padding: 1em;
}

.link{
  color: #eb5401;
  text-decoration: none;
}


/* ----------------------- Gallery section */

/*css code was adopted from this tutorial https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/*/
.container{
  width: 60%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}


/* ----------------------Timetable section */

#timetable{
  height: 500px;
}

.text-highlighter{
  color: #eb5401;
}

.table-container{
  background-color:#efb52b;
  border-radius: 2%;
  height: 240px;
  width: 50%;
  margin:auto;
  padding: 1%;
}

table{
  border-collapse: collapse; /*used the following site to lean about border-collapse property: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l*/
  margin: 0 auto;
  table-layout: fixed; /*used the following site to lean about table-layoutcss property: https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout*/
  width: 90%;
}

th, td{
  border: 1px solid #f6ebf9;
  color:#016a66;
  font-size: 100%;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

/* ----------------------Enquiries section */

#enquiries{
  height: 500px;
  width: 80%;
  margin: auto;
  padding: 3em;
  }

#contact-info-wrapper{
  height: 90%;
  width: 100%;
  margin-top: 1%;
}

.contact{
  height: 400px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}

.contact p{
  padding: 1em;
}

/*--------- form styling*/
#form-container{
  background-color: #efb52b;
  border-radius: 2%
}

input[type=text], input[type=email], textarea{
  display: block;
  margin: 5% auto;
  padding: 10px;
  width: 70%; 
  }

textarea{
  resize: none; /*learned how disable the resizable property of a textarea from this tutorial https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l*/
  font-family: Roboto;
  }

input[type=submit] {
  background-color:#018c96;
  border: none;
  border-radius: 4px;
  color: #f6ebf9;
  margin-left: 35%;
  padding: 10px;
  width: 25%;
}

::placeholder { /* used the following site to lean about how to change the color: https://www.w3schools.com/howto/howto_css_placeholder.asp*/   
  color: #016a66;
  }
  

/* -------------------------------- Footer */
footer{
  background-image: linear-gradient(#f4f4f4,#016a66);
  height: 150px;
  width: 100%;
  
}

footer p{
  font-weight: bold;
}

/*-- social links styling*/
.social-links{
  text-align: center;
}

.social-links li{
  display: inline;
}

.social-links i{
  color: #016a66;
  font-size: 200%;
  padding: 2%;
}


/* --------------------------Media Queries */

/*----------- mobile screens */

@media screen and (min-width: 370px) and (max-width: 425px) {
  
  body{
    font-size: 80%;
  }

  /* ---------------- Header */
  #logo-text{
    font-size: 90%;
    height: 34%;
    width: 80%;
    margin:auto;
    padding-left: 0%;
    }

  #logo-text-lower{
    font-size: 80%;
  }

  #contact-info-header{
    float: none;
    width: 80%;
    margin:auto;
    padding-right: 0%;
  }

  /* ------------------- Nav */
  #menu{
    font-size: 80%;
    width: 80%;   
  }

  nav li{
    padding-right: 2em;
  }

/* ------------------- Home */

  #home{
    width: 100%;
  } 

  #welcome{
    height: 25%;
  }

  #reasons{
    margin-left: 0%;
    width: 100%;
  }

/* ------------- Timetable */

  #timetable{
    height: 300px;
  }
  
  .table-container{
    height: 120px;
    width: 90%;
    margin:auto;
    padding: 2%;
  }
  
  th, td{
    font-size: 60%;
    padding: 5px;
  }

  /* ------------- Enquiries */
  #enquiries{
    height: 600px;
    }

  .contact{
    height: 300px;
    width: 100%;
    float: none;
  }

  #form-container{
    height: 250px;
  }

  input[type=text], input[type=email], textarea{
    padding: 5px;
    font-size: 80%;
    width: 80%;
    }

  input[type=submit] {
    font-size: 80%;
    padding: 5px;
    }

    /* ---------------------- Footer */
    footer{
      height: 100px;
    }
}


/*----------- tablets screens */

@media screen and (min-width: 768px) and (max-width: 1024px){

  /* ------------------Header */
  #logo-text{
    font-size: 100%;;
    }
  
    #logo-text-lower{
      font-size: 55%;
    }
  /* ------------------- Nav */
  
  #menu{
    font-size: 80%;
    width: 80%;   
  }  
  
  nav li{
    padding-right: 2em;
  }
  
  /* ------------------ Home */
  #home{
    width: 90%;
  }
  
  #reasons{
    margin-left: 0%;
    width: 100%;
  }

  /* ------------- Timetable */

  #timetable{
    height: 400px;
  }

  .table-container{
    height: 200px;
    width: 90%;
  }

  th, td{
    padding: 6.5px;
  }

/* ------------- Enquiries */
  #enquiries{
    height: 750px; /*enough?*/
  }

  .contact{
    height: 350px;
    width: 100%;
    float: none;
  }
  
  #form-container{
    height: 400px;
  }
  
  input[type=text], input[type=email], textarea{
    font-size: 90%;
    padding: 5px;
  }
  
  input[type=submit] {
    font-size: 90%;
  }
}
